<ion-content>
  <!-- Toolbar -->
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large">CIDO</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homepage"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <ion-searchbar [(ngModel)]="keyword" name="search" (keyup.enter)="searchProduct()"></ion-searchbar>
    <ion-tab-button tab="cart">
      <ion-icon href="" style="margin-right: 10px;" name="bag-handle-outline"></ion-icon>
    </ion-tab-button>
  </ion-item>

  <ion-col *ngIf="kosong !== 'empty'">
    <ion-card *ngFor="let pr of products; let i = index" class="box ">
      <div class="gambar">
        <ion-img src='{{ pr.image }}'></ion-img>
      </div>
      <div class="detail">
        <h3>{{ pr.product_name }}</h3>
        <p>{{ pr.product_description }}</p>
        <strong>Rp. {{ pr.price }}</strong>
        <div class="but">
          <ion-button routerLink="/cart/{{ pr.idproducts }}" size="small">
            + Keranjang
          </ion-button>
        </div>
      </div>
    </ion-card>
  </ion-col>
  <ion-col *ngIf="kosong === 'empty'">
    <h1 class="nothing" style="text-align: center ">
      Maaf produk tidak tersedia
    </h1>
  </ion-col>
</ion-content>
