  <ion-content fullscreen *ngIf="username !=='empty'">
    <ion-toolbar style="text-align:center" color="primary">
      <ion-title>CIDO</ion-title>
    </ion-toolbar>
    <header>

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor=" let pr of products; let i=index">
          <ion-card class="sliders mt-4 mb-4">
            <ion-img class="squareImageSlide" src='{{ pr.imgslide }}'></ion-img>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </header>
    <!-- Section-->
    <ion-col>
      <div class="container">
        <h3><b> Kategori</b></h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let cat of categories; let i=index">
            <div class=" card h-100">
              <!-- Product image-->
              <img class="squareImageProduct" src='{{ cat.img }}'>

              <div class="card-body text-center" style="color: black; ">
                <h2 style="text-transform: uppercase;" class="fw-bolder">{{ cat.category_name }}</h2>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <ion-button href="/category/{{ cat.idcategories }}">Lihat Semua
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-col>


  </ion-content>
