<!-- <ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="shop"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" size="large">CIDO</ion-title>
  </ion-toolbar>
  <ion-col>
    <ion-card *ngFor="let pr of products; let i = index">
      <div class="gambar">
        <ion-img src='{{ pr.image }}'></ion-img>
      </div>
      <div class="detail">
        <h3>{{ pr.product_name }}</h3>
        <p>{{ pr.product_description }}</p>
        <strong>Rp. {{ pr.price }}</strong>
      </div>
    </ion-card>

  </ion-col>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p>Total Harga : </p>
    <div class="but">
      <ion-button size="small">
        Bayar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer> -->
<ion-content>
  <div>
    <div class="table-responsive">
      <table class=" table table-bordered table-hover">
        <thead class='thead'>
          <tr>
            <th>S.No</th>
            <th>Image</th>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quatity</th>
            <th>Total Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pr of products;let i = index">
            <td>{{i+1}}</td>
            <td>
              <img class="img-thumbnail .img-responsive" src="{{pr.image}}" style="height:80px;width:80px;" />
            </td>
            <td>{{pr.idproduct}}</td>
            <td>{{pr.product_description}}</td>
            <td>{{pr.product_price}}</td>
            <td>{{pr.product_quanity}}</td>
            <td>{{pr.product_price * pr.product_quanity}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteProduct(pr.product_id)">
                Remove Item From Cart
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <td>Price {{price}}</td>
            <td>Qty {{totalQuantity}}</td>
            <td colspan="2">Sum {{totalPrice | currency: 'INR' }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</ion-content>
