<ion-content>
  <!-- Toolbar -->
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large">CIDO</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-searchbar [(ngModel)]="keyword" name="search" (keyup.enter)="searchProduct()"></ion-searchbar>
    <ion-tab-button tab="cart">
      <ion-icon href="" style="margin-right: 10px;" name="bag-handle-outline"></ion-icon>
    </ion-tab-button>
  </ion-item>

  <ion-col *ngIf="kosong !== 'empty'">
    <div class="container">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <ion-fab vertical="top" horizontal="start" slot="fixed">
          <ion-fab-button (click)="openCart()" #cart>
            <div class="cart-length">{{ cartItemCount | async }}</div>
            <ion-icon name="cart" class="cart-icon"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <div class="col mb-5" *ngFor="let pr of products; let i=index">
          <div class="card h-100">
            <img src='{{ pr.image }}'>

            <div class="card-body text-center" style="color: black; ">
              <h3>{{ pr.product_name }}</h3>
              <p>{{ pr.product_description }}</p>
              <b>{{  pr.price | currency:'Rp.'  }}</b>
            </div>

            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <ion-button fill="clear" (click)="addToCart(pr)">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openCart()" #cart>
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
    <!-- <ion-list>
      <ion-card *ngFor="let pr of products">
        <ion-card-header>
          <ion-card-title>{{pr.product_name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label color="secondary">
                <b>{{ pr.price | currency:'USD' }}</b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button fill="clear" (click)="addToCart(pr)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list> -->
  </ion-col>
  <ion-col *ngIf="kosong === 'empty'">
    <h1 class="nothing" style="text-align: center ">
      Maaf produk tidak tersedia
    </h1>
  </ion-col>
</ion-content>
