<ion-content>
  <!-- Toolbar -->
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large">CIDO</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-searchbar [(ngModel)]="keyword" name="search" (keyup.enter)="searchProduct()"></ion-searchbar>
    <ion-tab-button tab="cart">
      <ion-icon href="" style="margin-right: 10px;" name="bag-handle-outline"></ion-icon>
    </ion-tab-button>
  </ion-item>
  <ion-col *ngIf="kosong !== 'empty'">
    <div class="container">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" *ngFor="let pr of products; let i=index">
          <div class="card h-100">
            <!-- Product image-->
            <img src='{{ pr.image }}'>

            <div class="card-body text-center" style="color: black; ">
              <h3>{{ pr.product_name }}</h3>
            </div>
            <!-- Product actions-->

            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <ion-button href="/shopdetail/{{ pr.idproducts }}">More Details
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-col>
  <ion-col *ngIf="kosong === 'empty'">
    <h1 class="nothing" style="text-align: center ">
      Maaf produk tidak tersedia
    </h1>
  </ion-col>
</ion-content>
