ion-title {
    font-weight: 600;
}
h2{
    margin-left:15px;
}
.sliders {
    height: 160px;
    width: 100%;
    box-shadow: none;
    border-radius: 12px;
    
    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }
}
// ion-card{
//     height: 160px;
//     box-shadow: none;
//     border-radius: 12px;
// }

.box{
    height: 160px;
    box-shadow: none;
    border-radius: 12px;
    
}
.swiper-slide-active {
    transform: scale(1.05, 1.05);

    .sliders {
        img {
            transform: scale(1, 1);
        }
    }
}
.swiper-slide {
    transition: 400ms all ease-in-out;
}

.gambar {
    width: 45%;
    float: left;
}

.detail {
    width: 45%;
    float: right;
}
strong{
    font-size: 20px;
}
.but {
    // position: fixed;
    float: right;
    bottom: 0;
    // left: 0;
}
.price {
    margin-left: auto;
    float: left;
    bottom: 0;
    // left: 0;
}